.btn {
  display: flex;
  width: 234px;
  height: 53px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-decoration: none;

  &:hover,
  &:active {
    color: #2c36f2;
  }

  &:disabled {
    filter: grayscale(1);
    pointer-events: none;
  }
}
