.logo {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  margin-right: 58px;
}

.logo__title {
  font-family: WorkSans, "Arial", sans-serif;
  font-weight: bold;
  margin-left: 9px;
  color: #1f1e25;
  font-size: 20px;
  line-height: 23px;
}

.logo__uppercase {
  text-transform: uppercase;
}
