.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 120px;
  height: 60px;
  border: 1px solid #1f1e25;
  border-radius: 4px;
  padding: 0 18px;
  background: url("../../img/select-arrow.svg") no-repeat right 10px center;
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}

select option {
  font-size: 20px;
}
