.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__list-item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__list-link {
  text-decoration: none;
  color: #1F1E25;

  &:hover,
  &:active,
  &--active {
    color: #2C36F2;
  }
}
