.converter__wrapper {
  width: 1170px;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 100px;
}

.converter__title {
  font-weight: bold;
  font-size: 41px;
  line-height: 57px;
  margin: 0;
}

.converter__form-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 46px;
}

.converter__input-number {
  margin-right: 15px;
}

.converter__form-arrow {
  position: relative;
  padding-bottom: 15px;
  margin: 0 auto;

  &::before,
  &::after {
    content: "";
    width: 50px;
    height: 16px;
    display: block;
    background-image: url("../../img/arrow.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }

  &::after {
    transform: none;
  }
}

.converter__form-data {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
}

.converter__save-result {
  width: 382px;
  height: 60px;
  background-color: #2c36f2;
  font-size: 18px;
  line-height: 25px;
  color: #f6f7ff;

  &:hover {
    color: #f6f7ff;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.9;
  }
}
